@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
/* colour palette:
Dark brown: #51473B
brown: #665A4C
beige: #DECBB7
light beige: #EEDBC7
green:#A3D9C4
dark green: #758E78
blue: #848DA1
Dark blue: #626790 */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family:'lato';
    color: #665A4C;
    background-color:#decbb6;
}

/* headings and logo */

header {
    margin-top: 30px;
}

h1 {
    color:white;
}

h2 {
    color: #EEDBC7;
    font-family:'karla';
}

h3 {
    color: white;
}

h4 {
    font-family:'karla';
    color: #DECBB7;
    font-weight: 800;
    text-transform: uppercase;
}

#logo {
    width:100%;
    max-width: 300px;
    margin-top: -50px;
    margin-left: -20px;
    margin-bottom: -80px;
    float: left;
}

/* navigation links */

#menu {
    line-height: 75px;
    letter-spacing: 4px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    margin-top: 50px
}

#menu a {
    color: #665A4C;
    text-decoration: none;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

#menu a:hover {
    color: white;
    text-decoration: none;
}

.active {
    border-bottom: 1px solid white;
}

/* For medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }
}

/* hero image and cover text */

#hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

@media (max-width: 767px) {
    #hero-outer {
        justify-content: center;
        display: flex;
    }
  }


@media (max-width: 400px) {
    /* Styles for mobile view */
    #hero-outer {
        justify-content: center;
        display: flex;
        height:400px;
    }
}

#hero-text {
    width:100%;
    max-width: 500px;
    position: absolute;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align:left;
    margin-left:30px;
}

@media (max-width: 767px) {
    #hero-text {
        max-width: 500px;
        text-align: center;
    }
}

@media (max-width: 400px) {
    /* Styles for mobile view */
    #hero-text {
        max-width: 300px;
    }
}

#hero-image {
    height: 500px;
    width: 100%;
    margin-top: -100px;
    background: url('../images/lady.jpg') no-repeat top;
    background-size: contain;

    /* animates zoom effect on loading page */
    position: absolute;
    top: 0;
    animation: move-up-down 2s infinite; /* Set the animation properties */
  }
  
  @keyframes move-up-down {
    0% {
      top: 0;
    }
    50% {
      top: 50px; /* Set the amount of upward movement */
    }
    100% {
      top: 0;
    }
  }

  @media (min-width: 768px) {
    /* Styles for desktop view */
    #hero-image {
      height: 140%; /* make image bigger in desktop view */
      width: 100%;
      margin-top: -220px;
      background: url('../images/lady.jpg') no-repeat top;
      background-size: contain;
    }
  }
  
  @media (max-width: 767px) {
    #hero-image {
        width: 100%;
        margin-top: -60px;
        background: url('../images/lady.jpg') no-repeat top;
        background-size: contain;
    }
  }

  @media (max-width: 400px) {
    /* Styles for mobile view */
    #hero-image {
        width: 130%;
        margin-top: -60px;
        background: url('../images/lady.jpg') no-repeat top;
        background-size: contain;
    }
  }

/* yoga ethos */

#yoga-ethos {
    width: 100%;
    color:white;
    background-color: rgb(143, 168, 161);
    justify-content: center;
    display: flex;
}

.column {
    padding-bottom:50px;
    max-width: 800px;
}

.row {
    flex: 33.33%;
    padding: 50px;
    text-align: center;
}

/* event times */

.calendar-header {
    max-width: 350px;
    color:white;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-bottom:10px;
    margin-top: 40px;
}

.calendar {
  font-size: 130%;
  width: 100%;
  border-radius: 20px;
  justify-content: center;
  display: flex;
  background-color: white;
  margin-bottom: 100px;
  max-width: 700px;
  margin: 0 auto 100px auto;
  line-height: 60px;
  margin-top: 80px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.calendar a {
  text-decoration: none;
  color: #A3D9C4;
font-family: 'karla';
font-weight: 500;
}

.calendar a:hover {
  color: #665a4c;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.block {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

@media screen and (max-width: 767px) {
  .calendar {
    max-width: 350px;
    line-height: 30px;
    flex-direction: column;
  }

  .block {
    background-color:rgb(243, 239, 233);
    border-radius: 20px;
  }

  .calendar-item {
    text-align: center;
    justify-content: center;
    padding: 5px;
  }
}

#newsletter-link {
    background-color: #636363;
    height:400px;
    width:100%;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: xx-large;
    transition: background-color .3s ease-in-out, box-shadow .3s ease-in-out;
}

#newsletter-link a {
    background-color: #636363;
    height:400px;
    width:100%;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: xx-large;
    transition: background-color .3s ease-in-out, box-shadow .3s ease-in-out;
}

#newsletter-link a:hover {
    background-color: #A3D9C4;
    color:#636363
}

@media screen and (max-width:400px) {
    #newsletter-link a {
        margin-left: 30px;
    }
}

/* Form */

#signup-container {
    height: 100px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    max-width: calc(100% - 100px);
}

#signup-header {
    padding-top:50px;
    width: 100%;
    overflow: hidden;
}

.signup-form {
    padding-bottom:30px;
    margin: 0 auto;
    max-width: calc(100% - 200px);
}

.signup-form > h2 {
    font-family:'lato';
    color: white;
    margin-bottom: 20px;
}

.text-input {
    background:white;
    color: #636363;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px;
    border: 2px solid #decbb6;
    border-radius: 2px;
    transition: .3s ease-in-out, box-shadow .3s ease-in-out;
}
.text-input:hover{
    border-color: white;
}

.join-button{
    margin-top: 20px;
    border-radius: 60px;
    font-size: 100%;
    height: 50px;
    width: 150px;
    box-sizing: border-box;
    color: #ffffff;
    background-color: #A3D9C4;
    transition: .3s ease-in-out, box-shadow .3s ease-in-out;
}

.join-button:hover{
    background-color: rgb(214, 173, 142);
    color: #fafafa;
}

#thankyou {
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-left:50px;
    padding-top: 50px;
}

/* footer */

footer {
    height: 150px;
    background-image: url('../images/animation.gif');
    background-size: cover;
    background-position: center;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
    color: #FFF;
    transition: .3s ease-in-out, box-shadow .3s ease-in-out;
}

.social-networks i:hover {
    color: #A3D9C4;
    font-size: 200%;
}