@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Raleway:wght@100;400&display=swap');
/* colour palette:
Dark brown: #51473B
brown: #665A4C
beige: #DECBB7
light beige: #EEDBC7
green:#A3D9C4
dark green: #758E78
blue: #848DA1
Dark blue: #626790 */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family:'Merriweather', serif;
    color: #665A4C;
    background-color: #decbb6;
}

/* headings and logo */

h1 {
    letter-spacing: 4px;
    color: #665A4C;
}

h2 {
    color: #EEDBC7;
}

h3 {
    color: #665A4C;
}

#logo {
    width:100%;
    max-width: 300px;
    margin-top: -80px;
    margin-left: -20px;
    margin-bottom: -80px;
    float: left;
}

/* navigation links */

#menu, #logo {
    line-height: 75px;
    letter-spacing: 4px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    color: #665A4C;
    text-decoration: none;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

#menu a:hover {
    color: #A3D9C4;
    text-decoration: none;
}

.active {
    border-bottom: 1px solid white;
}

/* hero image and cover text */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 500px;
    width: 100%;
    margin-top: -100px;
    background: url('../images/lady.jpg') no-repeat top;
    background-size: contain;

    /* animates zoom effect on loading page */
    position: absolute;
    top: 0;
    animation: move-up-down 2s infinite; /* Set the animation properties */
  }
  
  @keyframes move-up-down {
    0% {
      top: 0;
    }
    50% {
      top: 50px; /* Set the amount of upward movement */
    }
    100% {
      top: 0;
    }
  }

  @media (min-width: 768px) {
    /* Styles for desktop view */
    #hero-image {
      height: 140%; /* make image bigger in desktop view */
      width: 100%;
      margin-top: -220px;
      background: url('../images/lady.jpg') no-repeat top;
      background-size: contain;
    }
  }
  
  @media (max-width: 767px) {
    /* Styles for mobile view */
    #hero-image {
        width: 100%;
        margin-top: -60px;
        background: url('../images/lady.jpg') no-repeat top;
        background-size: contain;
    }
  }

#hero-text {
    width:100%;
    text-transform: uppercase;
    text-align:left;
    color:#FFF;
    margin-left:30px;
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;
}

/* yoga ethos */

#yoga-ethos {
    width: 100%;
    color: #EEDBC7;
}

.column {
    height: 100vh;
    width: 100%; 
    background-color: rgb(143, 168, 161);
    padding-bottom:50px;
}

.row {
    flex: 33.33%;
    padding: 50px;
    text-align: center;
    color:white;
}

/* event times */

.livesessions{
    height:100px;
    width:100%;
    background-image: url('../images/animation.gif');
    background-size: cover;
    background-position: center;
    font-size: 150%;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    display:flex;
}

/*
#A3D9C4
dark green: #758E78
blue: #848DA1
Dark blue: #626790 */

.calendar {
    width:100%;
    text-align: center;
}

@media (max-width: 767px) {
    /* Styles for mobile view */
    .calendar p {
        width:100%;
        text-align: center;
        padding-top:20px;
    }
    .calendar h2 {
        padding-top:50px;
        font-style: oblique;
    }
    .calendar {
        padding-bottom:100px;
    }
    
  }

.calendar h2 {
    color: white;
    font-size: 120%;
    text-transform: uppercase;
}

.calendar a {
    color:white;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    text-decoration:none;
}

.calendar a:hover {
    color: rgb(106, 165, 147);
}

/* Form */

.form-section {
    clear: left;
    background: url("../images/signupform.jpg");
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form {
    margin: 5%;
    color:rgb(27, 27, 27);
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    width: 30%;
    padding: 30px;

    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to right, rgb(38, 123, 109), rgb(214, 173, 142)) 1;
}

.signup-form > h2 {
    color: rgb(38, 123, 109);
    margin-bottom: 20px;
}

.text-input {
    background:transparent;
    color: #636363;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px;
    border: 1px solid #3b3b3b;
    border-radius: 2px;
}
.text-input:hover{
    border-color: rgb(214, 173, 142);
}

.join-button{
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #a2cabc;
    color: #fafafa;
    display:block;
}

.join-button:hover{
    background-color: rgb(214, 173, 142);
    color: #fafafa;
}

#thankyou {
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-left:50px;
    padding-top: 50px;
}

/* footer */

footer {
    height: 150px;
    background-color: #FFF;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* Media queries */

/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {
    #club-ethos {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #welcome {
        padding: 30px 0;
        margin: 0;
    }

    #left-about, #right-about {
        width: 100%;
        float: left;
        padding: 0;
    }

    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    #times > div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

    hr {
        display: none;
    }


}

/* For medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text {
        left: 0;
    }

    #club-ethos {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }

    .left-about-heading, .right-about-heading {
        width: inherit;
    }

    .left-about-heading h2, .right-about-heading h2 {
        width: 100%;
        text-align: center;
    }

    .left-about-heading p, .right-about-heading p {
        text-align: center;
        padding: 0 20px;
    }
    #photos{
        column-count: 3;
    }


}

/* For small screen sizes 800px and down */

@media screen and (max-width:800px){
    #photos{
        column-count: 2;
    }


}
